/* Main Top Nav Bar Background Color */
.mainnav {
    background-color: none;
    overflow: hidden;
  }
  
/* Nav Bar Links */
  .mainnav a {
    float: initial;
    color: #f2f2f2f7;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
  }
  
 /* Color of Links during Hover */
  .mainnav a:hover {
    background-color: #dddddd64;
    color: black;
  }
  
  /* Home Active Color */
  .mainnav a.active {
    background-color:grey;
    color: rgb(246, 246, 249);
  }


.header {

}

/* Font and Font size of the whole page */
body, html {
    background-color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

p {

}

.footer {

}
