@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 5px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Main Top Nav Bar Background Color */
.header {

}

h1 {
  box-sizing: content-box;
  padding-top: 5%;
}
.mainnav {
    background-color: none;
    overflow: hidden;
  }
  
/* Nav Bar Links */
  .mainnav a {
    float: initial;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 80px;
    text-decoration: none;
    font-size: 24px;
  }
  
 /* Color of Links during Hover */
  .mainnav a:hover {
    background-color: #dddddd64;
    color: black;
  }
  
  /* Home Active Color */
  .mainnav a.active {
    background-color:grey;
    color: rgb(246, 246, 249);
  }


/* Font and Font size of the whole page */
body, html {
    background-color: silver;
    height: 100%
}
/* Parallax scrolling effect */
.parallax {
  height: 100%;
  background-image: url("/homework/Joe.Portfolio/assets/images/philadelphia2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

p {
  padding: 1px;
  font-weight: 400;
  margin: 4px;
  color: rgb(67, 73, 245);
}

footer{

}
